@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@source './resources/views/**/*.blade.php';
@source './resources/js/**/*.js';
@source './resources/**/*.vue';

@font-face {
    font-family: Merriweather;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("../fonts/Merriweather_Light.woff2") format("woff2");
}

@theme {
    --color-gray-primary: #2b2828;
    --color-btn-primary: #8b0000;
    --color-btn-hover: #730202;
    --color-red-primary: #7b1113;
    --color-black-primary: #0e1015;
    --color-text-primary: #252525;
    --font-raleway: "Raleway", sans-serif;
    --font-merriweather: "Merriweather";
}

:root {
    background-color: #ecf0f1;
}
