@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,106.9,300;1,18..144,106.9,300&display=swap');

@source './resources/views/**/*.blade.php';
@source './resources/js/**/*.js';
@source './resources/**/*.vue';

@theme {
  --color-gray-primary: #2b2828;
  --color-btn-primary: #8b0000;
  --color-text-primary: #252525;

}

:root {
  background-color: #ecf0f1;
  --font-raleway: 'Raleway', sans-serif;
  --font-merriweather: 'Merriweather', serif;
}
